<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="row g-3 needs-validation" method="post" action="http://localhost:8080/signup">
    <div class="col-12 position-relative">
        <label for="username" class="form-label">username</label>
        <input type="text" class="form-control" id="username" value="" required>
        <!--                            <div class="valid-tooltip">-->
        <!--                                Все хорошо!-->
        <!--                            </div>-->
    </div>
    <div class="col-12 position-relative">
        <label for="email" class="form-label">email</label>
        <input type="email" class="form-control" id="email" value="" required>
        <!--                            <div class="valid-tooltip">-->
        <!--                                Все хорошо!-->
        <!--                            </div>-->
    </div>
    <div class="col-12 position-relative">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-control" id="password" value="" required>
        <!--                            <div class="valid-tooltip">-->
        <!--                                Все хорошо!-->
        <!--                            </div>-->
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Отправить форму</button>
    </div>
</form>
<th:block th:each="user : ${users}">
    <li th:utext="${user}"></li>
</th:block>
</body>
</html>