<nav class="navbar navbar-expand-md navbar-light w-100" th:fragment="header">
    <div class="container px-3">
        <a class="navbar-brand" href="./index.html"><img src="./images/logo.jpg" style="width: 84px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start offcanvas-nav" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 20rem">
            <div class="offcanvas-header">
                <a href="./index.html" class="text-inverse"><img src="./images/logo.jpg" style="width: 84px"></a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0 align-items-center">
                <ul class="navbar-nav mx-auto align-items-md-center">
                    <li class="nav-link">Лабораторная 4</li>
                    <li class="nav-link">Рыскаль Никита</li>
                    <li class="nav-link">P3218</li>
                </ul>
                <div class="mt-lg-0 d-flex align-items-md-center">
                    <a href="http://localhost:8080/signin" class="btn btn-light mx-2">Login</a>
                    <a href="http://localhost:8080/signup" class="btn btn-primary">Create account</a>
                </div>
            </div>
        </div>
    </div>
</nav>
